.bodyMain {
    margin: 0;
    padding: 0;
    background: linear-gradient(#1e0050, #003366);
    color: #ffffff;
    
}

.font{
    font-family: "Bebas Neue", sans-serif;
}




/* Ultmiate Header */
.bigheaderContainer {
    position:sticky;
    top:0;
    right:0;
    left:0; 
    z-index:1000;
    background-color: #1e0050;
    padding: 0 0;
    text-align: center;
    height:fit-content;
    padding-bottom:30px;
    box-sizing:border-box;
}
/* very top container  */
.navContainer {
    max-width: 100%;
    margin: 0 auto;
    /* text-align:top; */
    padding: 10px 50px;
    background: linear-gradient(#6b1afd, #1e0050);
}
.bannerImage{
    width:700px !important;
    height:auto;
    max-width:90%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
}

.download-link a {
    background-color: white;
    color: #6b1afd;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.download-link a:hover {
    background-color: #f0f0f0;
}


.hero-description {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.hero-download-button {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.hero-download-button:hover {
    background-color: #218838;
}



/* video stuff  */
.video-container {
    position:relative;
    /* box-sizing:border-box; */
    /* padding-top:400px; */
    background-color: linear-gradient(#1e0050, #003366);
    margin-left:auto;
    margin-right:auto;
    height:603px;
    max-width:1072px;
    /* max-width:65%; */
    /* height:(400*16/9)px; */
    /* margin-top:auto; */
}


.customVideo{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
}






/* Features Section */

.features {
    padding: 40px 0;
    background-color: #d9d9d9;
    text-align: center;
}
.featureContainer {
    color: black;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
       
}

.features h2 {
    color:black;
    font-size: 2em;
    margin-bottom: 40px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    color: black;
    width: 30%;
    margin-bottom: 20px;
}


.feature-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.featuregifs {
    padding: 0px 0px;
    background-color: #d9d9d9;
    text-align: center;
    align-items: center;
    
}


/* About Section */
.about {
    padding: 60px 0;
    background-color: #ffffff;
    text-align: center;
}

/* commenting  */
.aboutUsContainer {
    color: black;
    max-width: 100%;
    margin: 20px 20px;
    /* margin-top:20px; */
    padding: 0px 20px 20px 20px;
       
}



.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    color: white;
    background-color: #1a1f31;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 0;
}

img {
    width: 40px;
    height:40px;
}


.privacyLink{
    padding-bottom:10px;

    color:rgb(113, 25, 163);
    transition:color 0.3s ease;
}
.privacyLink:hover{
    color:white;
}

.footerfun {
    
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    bottom:0;
}
.extrafooterfun{
    padding-top:10px;
    color: rgb(103, 103, 103);
    transition:color 0.3s ease;
    bottom:0;
}
.extrafooterfun:hover{
    color:white;
}

/* privacy policy page  */
.bodyPrivacy {
    margin: 0;
    padding: 0;
    background: #1e0050;
    /* background-repeat:no-repeat; */
    color: #ffffff;
    
}
.bigheaderContainerPrivacy {
    top:0;
    right:0;
    left:0; 
    z-index:1000;
    background-color: #1e0050;
    padding: 0 0;
    text-align: center;
    height:fit-content;
    padding-bottom:30px;
    box-sizing:border-box;
}

.policyBox{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    max-width:70%;
    border-radius:6px;
    background-color:#4a179c;
    height:auto;
    padding:40px;
    padding-top:5px;
    margin-bottom:20px;

}
.policyBox h1{
    font-size:60px;
    text-align:center;
}
.policyBox p{
    margin-left:20px;
    margin-right:20px;
    font-size:20px;
    text-align:left;
}
.aboutPrivacy {
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    max-width:70%;
    padding: 60px 0;
    background-color: #4a179c;
    color:white;
    text-align: center;
}
.aboutUsContainerPrivacy {
    max-width: 70%;
    margin-left:auto;
    margin-right:auto;
    /* margin-top:20px; */
    padding: 0px 20px 20px 20px;
       
}

.footerPrivacy {
    margin-top:60px;
    color: white;
    background-color: #1a1f31;
    padding: 20px 0;
    bottom:0;
    text-align: center;
}

.footerPrivacy p {
    margin: 0;
}
.footerfunPrivacy{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    bottom:0;
}
.extrafooterfunPrivacy{
    
    color: rgb(103, 103, 103);
    transition:color 0.3s ease;
    bottom:0;
}
.extrafooterfunPrivacy:hover{
    color:white;
}
