body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#1e0050, #003366);
    color: #ffffff;
    
}

.font{
    font-family: "Bebas Neue", sans-serif;
}


/* commenting  */
.container {
    color: black;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
       
}

/* Ultmiate Header */
.bigheaderContainer {
    position:fixed;
    /* top:-30px; */
    right:0;
    left:0; 
    /* bottom:auto; */
    /* z-index:3000; */
    z-index:1000;
    height:35%;
    
    background-color: #1e0050;
    padding: 0 0;
    text-align: center;
}
/* very top container  */
.container1 {
    max-width: 100%;
    margin: 0 auto;
    /* text-align:top; */
    padding: 10px 50px;
    background: linear-gradient(#6b1afd, #1e0050);
}

.bannerImage{
    width:700px !important;
    height:auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
}


.download-link a {
    background-color: white;
    color: #6b1afd;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.download-link a:hover {
    background-color: #f0f0f0;
}


.hero-description {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 40px;
}

.hero-download-button {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.hero-download-button:hover {
    background-color: #218838;
}



.video-container {

    background-color: linear-gradient(#1e0050, #003366);
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    max-width:65%;
}

.video-container .customVideo {
    background-color:transparent;
    width: 100%;
    
    height:auto;
    display:block;
}







/* Features Section */

.features {
    padding: 40px 0;
    background-color: #d9d9d9;
    text-align: center;
}

.features h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    color: black;
    width: 30%;
    margin-bottom: 20px;
}


.feature-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.featuregifs {
    padding: 0px 0px;
    background-color: #d9d9d9;
    text-align: center;
    align-items: center;
    
}


/* About Section */
.about {
    padding: 60px 0;
    background-color: #ffffff;
    text-align: center;
}





.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    color: white;
    background-color: #1a1f31;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 0;
}

img {
    width: 40px;
    height:40px;
}




.footerfun {
    
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    bottom:0;
}
.extrafooterfun{
    
    color: rgb(103, 103, 103);
    transition:color 0.3s ease;
    bottom:0;
}
.extrafooterfun:hover{
    color:white;
}